@import "@/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select {
  min-width: 88px;
  width: 88px;
  padding: $spacing-sm;
  border: 1px solid $grey-60;
  border-radius: $border-radius-base;
  background-color: $neutral-n0;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: 24px;
  letter-spacing: $letter-spacing-tight;
  color: $grey-100;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%2303050F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: 36px;
  flex-shrink: 0;
  transition: border-color 0.2s ease;

  @include mobile {
    min-width: 128px;
    width: 128px;
  }

  &:hover {
    border-color: $grey-100;
  }

  &:focus {
    outline: none;
    border-color: $grey-100;
  }

  &--error {
    border-color: $red-rimac-r500;

    &:hover,
    &:focus {
      border-color: $red-rimac-r500;
    }
  }

  option {
    font-size: $font-size-base;
    font-weight: 400;
  }
}

.error {
  font-size: 12px;
  font-weight: $font-weight-regular;
  letter-spacing: 0.1px;
  color: $red-rimac-r500;
}
