@import "@/styles/variables";

.summary {
  margin-top: $spacing-2xl;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  @include mobile {
    margin-top: $spacing-sm;
  }
}

.title {
  margin: 0;
  font-size: $font-size-5xl;
  font-weight: $font-weight-bold;
  color: $grey-100;

  @include mobile {
    font-size: $font-size-4xl;
    letter-spacing: -0.6px;
    text-align: center;
  }
}

.grid {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  background: $neutral-n0;
  border-radius: 24px;
  padding: 24px 32px;
  box-shadow: 0px 1px 24px 0px #aeacf340;

  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.overline {
  font-size: 10px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  line-height: $line-height-tight;
  color: $neutral-n700;
}

.person {
  display: flex;
  align-items: center;
  gap: 12px;
}

.personIcon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.personName {
  margin: 0;
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
  line-height: $line-height-loose;
  letter-spacing: -$letter-spacing-tight;
}

.divider {
  width: 100%;
  height: 1px;
  background: rgba(207, 210, 239, 0.7);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: $spacing-xs;
}

.sectionTitle {
  margin: 0;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  color: $neutral-n700;

  line-height: $line-height-tight;
  letter-spacing: $letter-spacing-tight;
}

.detailLine {
  margin: 0;
  font-size: $font-size-sm;
  color: $grey-100;
  letter-spacing: 0.1px;
  display: flex;
  gap: 4px;
}
