@import "@/styles/variables";

.hero {
  padding: 2px $padding-desktop;
  min-height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  @include laptop {
    padding: 12px $spacing-2xl;
  }

  @include tablet {
    padding: 12px $spacing-xl;
  }

  @include mobile {
    padding: 12px $padding-mobile;
  }

  &__container {
    max-width: $max-width-container;
    margin: 0 auto;
    display: flex;
    gap: $spacing-md;

    @include tablet {
      align-items: center;
      gap: $spacing-sm;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    padding: $hero-padding-top 0 $hero-padding-bottom;

    @include laptop {
      padding: $spacing-xl 0 $spacing-2xl;
    }

    @include tablet {
      padding: $spacing-lg 0 $spacing-xl;
    }

    @include mobile {
      padding: 0;
      width: 100%;
      margin-top: $spacing-sm;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
    }
  }

  &__text {
    display: none;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;
    }
  }

  &__image {
    height: auto;

    &--desktop {
      width: 100%;
      height: auto;
      display: block;

      @include laptop {
        max-width: 420px;
      }

      @include tablet {
        max-width: 360px;
      }

      @include mobile {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include mobile {
        display: block;
        width: 152px;
        height: 180px;
        border-radius: $border-radius-lg;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: $hero-padding-top $hero-desktop-padding-right
      $hero-desktop-padding-bottom $hero-desktop-padding-left;
    gap: $spacing-md;
    max-width: 696px;

    @include laptop {
      padding: $spacing-2xl $spacing-2xl $spacing-xl $spacing-xl;
      max-width: 560px;
    }

    @include tablet {
      padding: $spacing-xl;
      max-width: 100%;
    }

    @include mobile {
      padding: 0;
      border-top: 1px solid $grey-30;
      margin-top: $spacing-sm;
      padding-top: $spacing-sm;
    }
  }

  &__header {
    max-width: 352px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include laptop {
      max-width: 352px;
      gap: 12px;
    }

    @include tablet {
      max-width: 300px;
      gap: 10px;
    }

    @include mobile {
      display: none;
    }
  }

  &__badge {
    background: $gradient-aqua-lemon;
    padding: 4px $spacing-xs;
    width: fit-content;
    border-radius: $border-radius-sm;
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    line-height: $line-height-tight;
    letter-spacing: $letter-spacing-base;
    color: $grey-100;

    @include mobile {
      padding: 2px $spacing-xs;
      font-size: $font-size-xs;
    }
  }

  &__title {
    font-weight: $font-weight-bold;
    font-size: $font-size-4xl;
    line-height: $line-height-2xl;
    color: $grey-100;
    margin: 0px;

    @include laptop {
      font-size: $font-size-4xl;
      line-height: 38px;
    }

    @include tablet {
      font-size: $font-size-3xl;
      line-height: 36px;
    }

    @include mobile {
      max-width: 188px;
      font-size: $font-size-3xl;
      line-height: 36px;
    }
  }

  &__subtitle {
    margin: 0px;
    font-weight: $font-weight-semibold;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-tight;
    color: $grey-100;

    &--mobile {
      display: none;
      font-weight: $font-weight-semibold;
      line-height: $line-height-base;
      font-size: $font-size-sm;
      letter-spacing: $letter-spacing-tight;
      color: $grey-100;

      @include mobile {
        display: block;
      }
    }
  }
}
